@use '~@angular/material' as mat;
// material colors
$snippets-app-primary: mat.define-palette(mat.$gray-palette, 600);
$snippets-app-accent: mat.define-palette(mat.$yellow-palette, 700);

// The warn palette is optional (defaults to red).
$snippets-app-warn: mat.define-palette(mat.$red-palette); // mat-palette($mat-red);
$snippets-app-purple: mat.define-palette(mat.$purple-palette); // mat-palette($mat-purple);
$purple: mat.get-color-from-palette($snippets-app-purple);
$purple-500: mat.get-color-from-palette($snippets-app-purple, 500);
$purple-800: mat.get-color-from-palette($snippets-app-purple, 800);

$snippets-app-green: mat.define-palette(mat.$green-palette); // mat-palette($mat-green);

$color-primary: mat.get-color-from-palette($snippets-app-primary); // mat-color($snippets-app-primary); // #1565c0;
$color-primary-light: mat.get-color-from-palette($snippets-app-primary, 400); // mat-color($snippets-app-primary, 400); // #5e92f3;
$color-primary-dark: mat.get-color-from-palette($snippets-app-primary, 900); // mat-color($snippets-app-primary, 900); //  #003c8f;

$color-accent: mat.get-color-from-palette($snippets-app-accent); // mat-color($snippets-app-accent); // #ffc107;
$color-accent-light: lighten($color-accent, 10);
$color-accent-dark: darken($color-accent, 10);

$color-snow: white;
$color-ghost: #aaa;
$color-ghost-light: lighten($color-ghost, 20%);
$color-manatee: #666;
$color-coal: #111;
$color-coal-dark: black;
$color-coal-light: #333;

.c-coal {
  color: $color-coal;
}

.bg-coal {
  background: $color-coal;
}

.bg-snow {
  background: $color-snow;
}

.c-accent {
  color: $color-accent;
}

.c-accent-dark {
  color: $color-accent-dark;
}
.c-accent-light {
  color: $color-accent-light;
}


.c-primary {
  color: $color-primary;
}

.c-primary-dark {
  color: $color-primary-dark;
}

.c-primary-light {
  color: $color-primary-light;
}

.bg-primary {
  background: $color-primary;
}

.bg-primary-dark {
  background: $color-primary-dark;
}

.bg-primary-light {
  background: $color-primary-light;
}

.c-manatee {
  color: $color-manatee;
}
.bg-manatee {
  background: $color-manatee;
}

.c-ghost {
  color: $color-ghost;
}
.bg-ghost {
  background: $color-ghost;
}
