@import "colors";

$margin-xs: 0.5em;
$margin-s: 1em;
$margin-m: 2em;
$margin-l: 4em;

//$_sizes: ("s": $margin-s, "m": $margin-m, "l": $margin-l);
//$_orientations: ("t": "top", "r": "right", "b": "bottom", "l": "left");
//
//@each $s, $size in $_sizes {
//  @each $o, $oFull in $_orientations {
//    .m#{$o}#{$s} {
//      margin-#{$oFull}: $size;
//    }
//  }
//}

// top right bottom left
// s m l

.mts {
  margin-top: $margin-s;
}

.mtm {
  margin-top: $margin-m;
}

.mtl {
  margin-top: $margin-l;
}

// right
.mrs {
  margin-right: $margin-s;
}

.mrm {
  margin-right: $margin-m;
}

.mrl {
  margin-right: $margin-l;
}

// bottom
.mbs {
  margin-bottom: $margin-s;
}

.mbm {
  margin-bottom: $margin-m;
}

.mbl {
  margin-bottom: $margin-l;
}

// left
.mls {
  margin-left: $margin-s;
}

.mlxs {
  margin-left: $margin-xs;
}

.mlm {
  margin-left: $margin-m;
}

.mll {
  margin-left: $margin-l;
}

// flex
.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.container {
  max-width: 1024px;
  width: 100%;

  margin-left: auto;
  margin-right: auto;
  //height: 100%;
}

.word-wrap {
  white-space: pre-wrap; /* Since CSS 2.1 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.hr {
  height: 2px;
  width: 100%;
  background-color: $color-snow;
}

.form-field {
  width: 100%;
}

.position-relative {
  position: relative;
}

.drag-right {
  margin-left: auto;
}
