@import "src/app/base-styles/colors";

.align-center {
  align-items: center;
}

.align-right {
  justify-content: flex-end;
}

.align-middle {
  justify-content: center;
}

.mirror-y {
  transform: rotate(-180deg);
}

.show-comments-icon {
  transition: transform 0.2s;
}

.toggle-show-comments {
  cursor: pointer;
}

.pre-code {
  border: 1px solid $color-ghost-light;

  padding: 8px;
}

.code {
  padding: 0 0 30px 0;
  background-color: transparent;

  &.collapsed {
    padding: 0;
  }
}

.collapsed {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.toggle-text-collapsed {
  position: absolute;
  right: 10px;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.9);
  bottom: 16px;
}

.over-collapse-button {
  cursor: pointer;
  position: absolute;
  right: -16px;
  display: block;
  user-select: none;
  .arrow {
    display: block;
  }
  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}
