@import "../../base-styles/colors";

$nav-height: 4em;

.nav {
  height: $nav-height;
}

.nav-middle {
  margin: 0 auto;
}

.link-btn {
  height: $nav-height;
  width: $nav-height * 1.5;
  border-radius: 0;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;

  &.login {
    width: $nav-height * 2;
    color: $color-ghost-light;
  }

  &.active {
    color: $color-accent-light;
    border-bottom: 2px solid $color-accent-light;
  }
}

.search-field {
  padding: 10px 16px;
  width: 10em;
  margin: 0;
  border-radius: 4px;
  border: 1px solid $color-coal-light;
  outline: none;
  color: $color-ghost;
  background-color: transparent;
  box-shadow: $color-accent 0 0 0 0px;

  &:focus {
    background-color: $color-coal-light;
    border-color: $color-accent;
  }

  transition: box-shadow 0.3s ease-out, border 0.15s ease;

  &.highlight {
    box-shadow: $color-accent-dark 0 0 30px 3px;
    transition: none;
  }
}

.search-wrapper {
  position: relative;
  width: fit-content;
}

.icon-search {
  position: absolute;
  right: 13px;
  top: 10px;
}

.icon-close {
  @extend .icon-search;
  cursor: pointer;
}
