@import "src/app/base-styles/colors";
$base-color: #787878;
$highlight-color: $color-manatee;

:host {
  margin-left: 2em;
  margin-top: -2px;
  cursor: pointer;

  &:hover {
    .mouth {
      transform: translate(-15px, 0px) scaleX(1.2);
    }

    .plus {
      stroke-width: 18;
      transform: scale(1.1) translate(-11px, -4px);
      stroke: $highlight-color;
    }
  }
}

.left-eye {
  fill: $base-color;
}

.right-eye {
  fill: $base-color;
}

.circle {
  fill: $base-color;
}

.mouth {
  stroke-width: 8;
}

.fill-segment {
  transition: all 0.1s ease;

  fill: $base-color;
}

.stroke-segment {
  transition: all 0.1s ease;

  stroke: $base-color;
  stroke-width: 8;
}
