@import "../../../../base-styles/colors";

.reaction-badge {
  //border: 1px solid transparent;
  padding: 0 10px;
  margin-left: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    // border-color: #003c8f;
    .emoji {
      transform: scale(1.4);
    }
  }
  &:active {
    // box-shadow: #999 0 1px 8px -1px;
    .emoji {
      transform: scale(1.5);
    }
  }
}

.highlight {
  //border-color: #039be5;
  color: $color-primary;
  .emoji {
    transform: scale(1.3);
  }
}

.icon-remove {
  font-size: 16px;
  height: 19px;
  text-align: end;
  letter-spacing: -18px;
}

.emoji {
  margin: 1px 10px 1px 0;
  transition: transform 0.2s;
}
