<div class="hr"></div>
<div class="comment-container mlm">

  <div class="row">
    <div class="col-xs-12 mtm" *ngIf="authService.authState?.value?.state === 'in'">
      <app-add-comment (addComment)="postComment($event)"></app-add-comment>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 mtm" *ngFor="let comment of comments$ | async">
      <app-comment [comment]="comment"
                   (toggleReaction)="toggleReaction(comment.id, $event)"
                   (editComment)="onEditComment(comment.id, $event)"
                   (deleteComment)="deleteComment(comment)"
      ></app-comment>
    </div>
  </div>

  <div class="row center-xs mtm mbm" *ngIf="loading$ | async">
    <div class="col">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>
  </div>

  <div class="row center-xs mrm mts" *ngIf="!(loading$ | async)">
    <button class="btn-flat c-primary " *ngIf="canLoadMore" (click)="loadMore()">{{ 'feed.expand' | translate }}</button>
  </div>
</div>
