<div class="mts"></div>
<div class="row" *ngIf="!(authService.isLoggedIn$ | async)">
  <div class="col-xs-12 center-xs">
    <h1 class="c-accent-dark">{{ 'login.header' | translate }}</h1>
  </div>
  <div class="col-xs-12 center-xs">
    <h3>{{ 'login.subHeader' | translate }}</h3>
  </div>
</div>

<ngx-auth-firebaseui [providers]="authProviderList"
                     [signInTabText]="'ngxauthfirebaseui.signInTabText' | translate"
                     [signInCardTitleText]="'ngxauthfirebaseui.signInCardTitleText' | translate"
                     [loginButtonText]="'ngxauthfirebaseui.loginButtonText' | translate"
                     [forgotPasswordButtonText]="'ngxauthfirebaseui.forgotPasswordButtonText' | translate"
                     [nameText]="'ngxauthfirebaseui.nameText' | translate"
                     [nameErrorRequiredText]="'ngxauthfirebaseui.nameErrorRequiredText' | translate"
                     [nameErrorMinLengthText]="'ngxauthfirebaseui.nameErrorMinLengthText' | translate"
                     [nameErrorMaxLengthText]="'ngxauthfirebaseui.nameErrorMaxLengthText' | translate"
                     [emailText]="'ngxauthfirebaseui.emailText' | translate"
                     [emailErrorRequiredText]="'ngxauthfirebaseui.emailErrorRequiredText' | translate"
                     [emailErrorPatternText]="'ngxauthfirebaseui.emailErrorPatternText' | translate"
                     [passwordText]="'ngxauthfirebaseui.passwordText' | translate"
                     [passwordErrorRequiredText]="'ngxauthfirebaseui.passwordErrorRequiredText' | translate"
                     [registerTabText]="'ngxauthfirebaseui.registerTabText' | translate"
                     [registerCardTitleText]="'ngxauthfirebaseui.registerCardTitleText' | translate"
                     [registerButtonText]="'ngxauthfirebaseui.registerButtonText' | translate"
                     [guestButtonText]="'ngxauthfirebaseui.guestButtonText' | translate"
                     [resetPasswordTabText]="'ngxauthfirebaseui.resetPasswordTabText' | translate"
                     [resetPasswordInputText]="'ngxauthfirebaseui.resetPasswordInputText' | translate"
                     [resetPasswordErrorRequiredText]="'ngxauthfirebaseui.resetPasswordErrorRequiredText' | translate"
                     [resetPasswordErrorPatternText]="'ngxauthfirebaseui.resetPasswordErrorPatternText' | translate"
                     [resetPasswordActionButtonText]="'ngxauthfirebaseui.resetPasswordActionButtonText' | translate"
                     [resetPasswordInstructionsText]="'ngxauthfirebaseui.resetPasswordInstructionsText' | translate"
                     [emailConfirmationTitle]="'ngxauthfirebaseui.emailConfirmationTitle' | translate"
                     [emailConfirmationText]="'ngxauthfirebaseui.emailConfirmationText' | translate"
                     [guestEnabled]="false">
</ngx-auth-firebaseui>
