<app-card>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{doc.title}} - {{highlightResult?.language}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4" *ngIf="!hideAuthor">
      <app-author-section [author]="doc.author"></app-author-section>
    </div>

    <div class="col-xs-6 col-sm-4 right-xs {{hideAuthor ? 'col-sm-8' : 'center-sm'}}" *ngIf="isOwnDocument">
      <button [routerLink]="['/document', doc.id]" mat-button color="primary">
        <mat-icon>edit</mat-icon>
        Edit
      </button>
    </div>

    <div class="col-xs-6 col-sm-4 middle-sm end-xs flex" *ngIf="isOwnDocument">
      <app-visibility-label
        [isPublic]="doc.isPublic"
        [showDialog]="true"
        [title]="doc.title"
        (changeIsPublic)="changeIsPublic.emit($event)"></app-visibility-label>
    </div>
  </div>


  <div class="row mbs">
    <div class="col-xs-12 position-relative">
      <pre class="pre-code"><code class="word-wrap code"
                                  [class.collapsed]="textCollapsed"
                                  #codeElement
                                  [highlight]="doc.description"
                                  (highlighted)="onHighlighted($event)"></code></pre>
      <button mat-button
              class="toggle-text-collapsed"
              color="primary"
              *ngIf="canTextExpand"
              (click)="toggleTextCollapsed()">{{textCollapsed ? 'Show more' : 'Collapse'}}</button>
    </div>
  </div>

  <ng-container *ngIf="doc.allowComments">
    <div class="row mtm">
      <div class="col-xs-12">
        <app-reaction-section [reactions]="reactions"
                              [reactionsGroup]="doc.reactionsGroup"
                              (toggleReaction)="toggleReaction(doc.id, $event)"></app-reaction-section>
      </div>
    </div>

    <div class="row mts">
      <div class="col-xs-12">
        <a (click)="showComments = !showComments" class="flex align-center toggle-show-comments">
          <mat-icon aria-hidden="false" aria-label="arrow down icon" class="c-primary show-comments-icon"
                    [class.mirror-y]="showComments"
          >keyboard_arrow_down
          </mat-icon>
          <ng-container *ngIf="!showComments; else hideComments">
            <span>
              show {{doc.countComments}} comments
            </span>
          </ng-container>
          <ng-template #hideComments><span>hide comments</span></ng-template>
        </a>
      </div>
    </div>

    <div class="row mtm" *ngIf="showComments">
      <div class="col-xs-12">
        <app-comment-section [documentId]="doc.id" [countComments]="doc.countComments"></app-comment-section>
      </div>
    </div>
  </ng-container>
</app-card>
