@import "src/app/base-styles/colors";

.align-center {
  display: flex;
  align-items: center;
}

.mirror-y {
  transform: rotate(-180deg);
}

.show-comments-icon {
  transition: transform 0.2s;
}

.toggle-show-comments {
  cursor: pointer;
}

.code {
  border: 1px solid $color-ghost-light;
}
