<app-card>
  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <div class="col">
          <h1>{{doc.title}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-author-section [author]="doc.author"></app-author-section>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <app-label *ngFor="let label of doc.labels" [label]="label"></app-label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      {{doc.description}}
    </div>
  </div>

  <ng-container *ngIf="doc.allowComments">
    <div class="row">
      <div class="col-xs-12">
        <app-reaction-section [doc]="doc"></app-reaction-section>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        show {{doc.countComments}} comments
      </div>
    </div>

  </ng-container>
</app-card>
