@import "src/app/base-styles/colors";

.align-center {
  align-items: center;
}

.align-right {
  justify-content: flex-end;
}

.align-middle {
  justify-content: center;
}

.mirror-y {
  transform: rotate(-180deg);
}

.show-comments-icon {
  transition: transform 0.2s;
}

.toggle-show-comments {
  cursor: pointer;
}

.pre-code {
  border: 1px solid $color-ghost-light;

  padding: 8px;
}

.code {
  padding: 0;
  background-color: transparent;
}

.collapsed {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.toggle-text-collapsed {
  position: absolute;
  right: 1em;
  bottom: 1.5em;
}
