<app-card>
  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <div class="col">
          <h1>{{doc.title}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-author-section [author]="doc.author"></app-author-section>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <app-label *ngFor="let label of doc.labels" [label]="label"></app-label>
      </div>
    </div>
  </div>

  <div class="row mtm mbs">
    <div class="col-xs-12">
      {{doc.description}}
    </div>
  </div>

  <ng-container *ngIf="doc.allowComments">
    <div class="row mtm">
      <div class="col-xs-12">
        <app-reaction-section [reactions]="reactions"
                              [reactionsGroup]="doc.reactionsGroup"
                              (toggleReaction)="toggleReaction(doc.id, $event)"></app-reaction-section>
      </div>
    </div>

    <div class="row mts">
      <div class="col-xs-12">
        <a (click)="showComments = !showComments" class="align-center toggle-show-comments">
          <mat-icon aria-hidden="false" aria-label="arrow down icon" class="c-primary show-comments-icon"
                    [class.mirror-y]="showComments"
          >keyboard_arrow_down</mat-icon>

          <span *ngIf="!showComments; else hideComments">show {{doc.countComments}} comments</span>
          <ng-template #hideComments><span>hide comments</span></ng-template></a>
      </div>
    </div>

    <div class="row mtm" *ngIf="showComments">
      <div class="col-xs-12">
        <app-comment-section  [documentId]="doc.id" [countComments]="doc.countComments"></app-comment-section>
      </div>
    </div>
  </ng-container>
</app-card>
