:host {
  display: flex;
  outline: none;
  align-items: flex-end;
  cursor: pointer;
}

.logo-text {
  color: #f9cd20;
  font-weight: 500;
  font-size: 1.4em;
  &.suffix {
    color: #37b9f9;
  }
}

:host:hover {
  .s1 {
    transform:  translate(-2px, -4px);
  }

  .s3 {
    transform:  translate(2px, 4px);
  }

  .sc1 {
    transform: translate(2px, -3px);
  }

  .sc2 {
    transform: rotate(360deg);
  }

  .sc3 {
    transform: translate(-2px, 3px);
  }

  .sx {
    transform: scale(1.3);
  }
}

.svg {

  g {
    transition: 0.3s;

    &.sc1 {
      transition-delay: 0.0s;
    }
    &.s1 {
      transition-delay: 0.1s;
    }
    &.sc2 {
      transition: 0.8s;
      transition-delay: 0.0s;
    }
    &.s3 {
      transition-delay: 0.3s;
    }
    &.sc3 {
      transition-delay: 0.2s;
    }
  }

  .s1 {
    transform-origin: 11px 13px;
  }

  .s3 {
    transform-origin: 22px 18px;
  }

  .sc2 {
    transform-origin: 17px 17px;
  }
}
