<div class="col-xs-12">
  <div class="row mts">
    <div class="col-xs-3">
      <button mat-button color="primary" (click)="navigateBack()">
        <mat-icon>arrow_back</mat-icon>
        {{'common.goBack' | translate}}
      </button>
    </div>
    <div class="col-xs-6 center-xs">
      <h3 *ngIf="isNewDocument; else newDocumentTitle" translate>
        edit.titleEdit
      </h3>
      <ng-template #newDocumentTitle>
        <h3 translate>edit.titleNew</h3>
      </ng-template>
    </div>
  </div>


  <div class="row center-xs mtm mbm" *ngIf="loading$ | async">
    <div class="col-xs-12">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>

  </div>

  <form #documentForm="ngForm" *ngIf="documentSetInput">

    <app-card>
      <div class="row mts">
        <div class="col-xs-12 col-md-6">
          <mat-form-field class="form-field">
            <mat-label>{{ 'edit.title' | translate }}</mat-label>
            <input matInput
                   name="title"
                   #title="ngModel"
                   [placeholder]="'edit.titlePlaceholder' | translate"
                   [(ngModel)]="documentSetInput.title"
                   required
            >
          </mat-form-field>
          <mat-error *ngIf="!title.valid &&  !title.pristine">
            {{ 'edit.title' | translate }} {{ 'common.isRequired' | translate }}
          </mat-error>
        </div>
      </div>
      <div class="hr"></div>
      <div class="row mts">

        <div class="col-xs-12 monaco-container">
<!--          <mat-form-field class="form-field">-->
<!--            <mat-label *ngIf="!documentSetInput?.content?.length">{{ 'edit.content' | translate }}</mat-label>-->
<!--            <textarea-->
<!--              matInput-->
<!--              name="content"-->
<!--              #content="ngModel"-->
<!--              required-->
<!--              class="content-textarea"-->
<!--              cdkTextareaAutosize-->
<!--              cdkAutosizeMinRows="2"-->
<!--              [placeholder]="'edit.textAreaPlaceholder' | translate"-->
<!--              [(ngModel)]="documentSetInput.content"-->
<!--            ></textarea>-->
            <ngx-monaco-editor
              style="height: 100%"
              class="my-monaco"
              #content="ngModel"
              [options]="monacoOptions"
              [name]="'content'"
              (keydown.alt.enter)="runScript()"
              [(ngModel)]="documentSetInput.content"></ngx-monaco-editor>

            <mat-error *ngIf="!content.valid && !content.pristine">
              {{ 'edit.content' | translate }} {{ 'common.isRequired' | translate }}
            </mat-error>
<!--          </mat-form-field>-->
        </div>
      </div>
      <div class="hr"></div>

      <div class="row">
        <div class="col-xs-12">

        </div>
      </div>

      <app-script-evaluator-console-log
        *ngIf="scriptEvaluatorEnabled"
        [scriptText]="documentSetInput.content"
        [runLabel]="'edit.runShortcut' | translate"
      ></app-script-evaluator-console-log>

      <div class="row mts">
        <div class="col-xs-12">
          <mat-checkbox color="accent" [(ngModel)]="documentSetInput.allowComments" name="allowComments">
            {{ 'edit.allowComments' | translate }}
          </mat-checkbox>
        </div>
        <div class="col-xs-12">
          <mat-checkbox color="accent" [(ngModel)]="documentSetInput.isPublic" name="isPublic">
            {{ 'edit.markPublic' | translate }}
          </mat-checkbox>
        </div>
        <div class="col-xs-12">
          <mat-checkbox color="accent" [(ngModel)]="scriptEvaluatorEnabled"
                        [matTooltip]="'edit.scriptEvaluatorEnabledDescription' | translate"
                        matTooltipShowDelay="500"
                        name="scriptEvaluatorEnabled">
            {{ 'edit.scriptEvaluatorEnabled' | translate }}
          </mat-checkbox>
        </div>
      </div>

      <div class="row mtm">
        <div class="col-xs-6">
          <span class="mrs">
            <button mat-flat-button color="warn" *ngIf="!isNewDocument" (click)="deleteDocument()">
              {{'common.delete' | translate}}
            </button>
          </span>

          <span>
            <button mat-flat-button (click)="reset()" [disabled]="!canSave">{{ 'common.reset' | translate }}</button>
          </span>
        </div>

        <div class="col-xs-6 end-xs">
          <button mat-flat-button color="accent"
                  [disabled]="!canSave"
                  style="margin-left: 1em"
                  (click)="saveDocument()">
            {{ 'common.save' | translate }}
          </button>
        </div>
      </div>
    </app-card>
  </form>
</div>
