<div class="col-xs-12">
  <div class="row mts">
    <div class="col-xs-3">
      <button (click)="navigateBack()" color="primary" mat-button>
        <mat-icon>arrow_back</mat-icon>
        {{'common.goBack' | translate}}
      </button>
    </div>
    <div class="col-xs-6 center-xs">
      <h3 *ngIf="!isNewDocument; else newDocumentTitle" translate>
        edit.titleEdit
      </h3>
      <ng-template #newDocumentTitle>
        <h3 translate>edit.titleNew</h3>
      </ng-template>
    </div>
  </div>


  <div *ngIf="loading$ | async" class="row center-xs mtm mbm">
    <div class="col-xs-12">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>

  </div>

  <form #documentForm="ngForm" *ngIf="documentSetInput">

    <app-card>
      <div class="row mts">
        <div class="col-xs-12 flex">
          <mat-form-field class="form-field flex-1">
            <mat-label>{{ 'edit.title' | translate }}</mat-label>
            <input #title="ngModel"
                   [(ngModel)]="documentSetInput.title"
                   [placeholder]="'edit.titlePlaceholder' | translate"
                   matInput
                   name="title"
                   required
            >
          </mat-form-field>
          <mat-error *ngIf="!title.valid &&  !title.pristine">
            {{ 'edit.title' | translate }} {{ 'common.isRequired' | translate }}
          </mat-error>

          <mat-form-field class="mls" *ngIf="!isMobile">
            <mat-label>{{ 'edit.language' | translate }}</mat-label>
            <mat-select [value]="documentSetInput?.language || 'text'"
                        (selectionChange)="updateEditorLanguage($event.value)">

              <mat-optgroup [label]="'edit.favoriteLanguages' | translate">
                <mat-option *ngFor="let language of favoriteMonacoLanguages" [value]="language">
                  {{ language }}
                </mat-option>
              </mat-optgroup>

              <mat-optgroup [label]="'edit.allLanguages' | translate">
                <mat-option *ngFor="let language of availableMonacoLanguages" [value]="language">
                  {{ language }}
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="hr"></div>
      <div class="row mts">

        <div class="col-xs-12 editor-container">
          <ng-container *ngIf="!isMobile">
            <ngx-monaco-editor
              #content="ngModel"
              (keydown.alt.enter)="runScript()"
              [(ngModel)]="documentSetInput.content"
              [name]="'content'"
              [options]="monacoOptions | async"
              (select)="onSelectRange()"
              (onInit)="initMonacoEditor($event)"
              class="my-editor"
              style="height: 100%"></ngx-monaco-editor>
            <mat-error *ngIf="!content.valid && !content.pristine">
              {{ 'edit.content' | translate }} {{ 'common.isRequired' | translate }}
            </mat-error>
          </ng-container>
          <ng-container *ngIf="isMobile">
            <mat-form-field class="form-field">
              <textarea
                matInput
                name="content"
                #content="ngModel"
                required
                class="content-textarea"
                cdkTextareaAutosize
                cdkAutosizeMinRows="2"
                [placeholder]="'edit.textAreaPlaceholder' | translate"
                [(ngModel)]="documentSetInput.content"
              ></textarea>
              <mat-error *ngIf="!content.valid && !content.pristine">
                {{ 'edit.content' | translate }} {{ 'common.isRequired' | translate }}
              </mat-error>
            </mat-form-field>
          </ng-container>
        </div>
      </div>
      <div class="hr"></div>

      <div class="row">
        <div class="col-xs-12">

        </div>
      </div>

      <app-script-evaluator-console-log
        *ngIf="scriptEvaluatorEnabled"
        [runLabel]="'edit.runShortcut' | translate"
        [scriptText]="documentSetInput.content"
      ></app-script-evaluator-console-log>

      <div class="row mts">
        <div class="col-xs-12 col-sm-6">
          <mat-checkbox [(ngModel)]="documentSetInput.allowComments" color="accent" name="allowComments">
            {{ 'edit.allowComments' | translate }}
          </mat-checkbox>
        </div>
        <div class="col-xs-12">
          <mat-checkbox [(ngModel)]="documentSetInput.isPublic" color="accent" name="isPublic">
            {{ 'edit.markPublic' | translate }}
          </mat-checkbox>
        </div>
        <div class="col-xs-12 col-sm-6">
          <mat-checkbox [(ngModel)]="scriptEvaluatorEnabled"
                        [matTooltip]="'edit.scriptEvaluatorEnabledDescription' | translate"
                        color="accent"
                        (change)="toggleScriptEvaluatorEnabled($event)"
                        matTooltipShowDelay="500"
                        name="scriptEvaluatorEnabled">
            {{ 'edit.scriptEvaluatorEnabled' | translate }}
          </mat-checkbox>
        </div>
        <div class="col-sm-6 end-sm center-xs" *ngIf="hasMonaco">
          <button class="position-label"
                  [matTooltip]="'edit.positionLabelToolTip' | translate"
                  matTooltipShowDelay="500"
                  matTooltipPosition="above"
                  [cdkCopyToClipboard]="codeSelectionAsString"
                  (cdkCopyToClipboardCopied)="onCopiedSelection($event)">{{codeSelectionAsString}}</button>
        </div>
      </div>

      <div class="row mtm">
        <div class="col-xs-6">
          <span class="mrs">
            <button (click)="deleteDocument()" *ngIf="!isNewDocument" color="warn" mat-flat-button>
              {{'common.delete' | translate}}
            </button>
          </span>

          <span>
            <button (click)="reset()" [disabled]="!canSave" mat-flat-button>{{ 'common.reset' | translate }}</button>
          </span>
        </div>

        <div class="col-xs-6 end-xs">
          <button (click)="saveDocument()" [disabled]="!canSave"
                  color="accent"
                  mat-flat-button
                  style="margin-left: 1em">
            {{ 'common.save' | translate }}
          </button>
        </div>
      </div>
    </app-card>
  </form>
</div>
