@import "../../../base-styles/colors";

.head {
  color: $color-accent;
}

.content-textarea {
  overflow-y: hidden;
}

.editor-container {
  min-height: max(14rem, calc(100vh - 450px));
}

.my-editor {
  .editor-container {
    height: calc(100vh - 100px);
  }
}

.position-label {
  color: #a1a1a1;
  margin-left: 0.5rem;
  font-weight: normal;
  font-size: 0.8rem;
  background: none;
  border: none;
  cursor: pointer;
  &:hover {
    color: $purple-500;
  }
}
