<div class="row">
  <app-reaction-badge [reactionId]="thumbsUpId" [count]="countThumbsUp" [isSelected]="isThumbsUpSelected"
                      (clickReaction)="clickReaction($event)"
  ></app-reaction-badge>

  <app-reaction-badge class="mrs" [reactionId]="thumbsDownId" [count]="countThumbsDown" [isSelected]="isThumbsDownSelected"
                      (clickReaction)="clickReaction($event)"
  ></app-reaction-badge>

  <app-reaction-badge *ngFor="let reaction of filteredReactionsGroup"
                      [count]="reaction.count"
                      [reactionId]="reaction.reactionid"
                      [isSelected]="isSelected(reaction.reactionid)"
                      (clickReaction)="clickReaction($event)"
  ></app-reaction-badge>

  <app-add-reaction-button (click)="openEmojiPicker()"></app-add-reaction-button>

</div>
