<app-bg [blur]="0" [brightness]="1"></app-bg>
<div *ngIf="(authService.authState | async) as authState" class="scroll-ref" #ref>
  <app-pick-emoji></app-pick-emoji>
<!--  <div class="row center-xs mtl" *ngIf="loading$ | async;">-->
<!--    <div class="col">-->
<!--      <mat-spinner [diameter]="30"></mat-spinner>-->
<!--    </div>-->
<!--  </div>-->

  <div *ngIf="mode === 'my-documents'" class="col-xs-12 center-xs mts mbs">
    <button mat-raised-button color="accent" routerLink="/document">
      <mat-icon>note_add</mat-icon>
      {{ 'feed.addDocument' | translate }}
    </button>
  </div>

  <div class="col-xs-12" *ngIf="(feed$ | async) as feed">
    <div class="row" *ngFor="let feedDoc of feed;">
      <div class="col-xs-12">
        <app-feed-card (changeIsPublic)="onChangeIsPublic(feedDoc.id, $event)" [doc]="feedDoc" [hideAuthor]="authState.state === 'in' && mode === 'my-documents'"></app-feed-card>
      </div>
    </div>

    <div class="row center-xs mtl" *ngIf="!feed?.length">
      <h1 class="c-ghost" translate>feed.noDocumentsFound</h1>
    </div>
  </div>

</div>
