.nav-bar {
  height: 5em;
}

.search-field {
  padding: 10px 16px;
  margin: 0;
  border-radius: 4px;
  border: none;
  outline: none;
}

.search-wrapper {
  position: relative;
  width: fit-content;
}

.icon-search {
  position: absolute;
  right: 13px;
  top: 9px;
}

.icon-close {
  @extend .icon-search;
  cursor: pointer;
}
