<mat-chip-list>
  <mat-chip *ngIf="isPublic; else privateLabel"
            class="public"
            [matTooltip]="'visibility.descriptionPublic' | translate"
            (click)="updateIsPublic(false)"
  >
    <mat-icon class="chip-icon">lock_open</mat-icon>
    <span class="chip-text" translate>visibility.public</span>
  </mat-chip>
  <ng-template #privateLabel>
    <mat-chip class="private"
              (click)="updateIsPublic(true)"
              [matTooltip]="'visibility.descriptionPrivate' | translate">
      <mat-icon class="chip-icon">lock</mat-icon>
      <span class="chip-text" translate>visibility.private</span>
    </mat-chip>
  </ng-template>
</mat-chip-list>
