@import "src/app/base-styles/material-theming";
@import '~@angular/material/theming';


.chip-text {
  padding: 0 0.25em 0 0.5em;
}

.private {
  .chip-icon, .chip-text {
    color: mat-color($snippets-app-primary, 900);
  }
}

.public {
  .chip-icon, .chip-text {
    color: mat-color($snippets-app-primary, 900);
  }
}
