
<div class="mts"></div>
<div class="row" *ngIf="!(authService.isLoggedIn$ | async)">
  <div class="col-xs-12 center-xs">
    <h1 class="c-accent-dark">{{ 'login.header' | translate }}</h1>
  </div>
  <div class="col-xs-12 center-xs">
    <h3>{{ 'login.subHeader' | translate }}</h3>
  </div>
</div>

<ngx-auth-firebaseui [providers]="authProviderList"
                     [signInTabText]="'ngxauthfirebaseui.signInTabText' | translate"
                     [signInCardTitleText]="'ngxauthfirebaseui.signInCardTitleText' | translate"
                     [loginButtonText]="'ngxauthfirebaseui.loginButtonText' | translate"
                     [forgotPasswordButtonText]="'ngxauthfirebaseui.forgotPasswordButtonText' | translate"
                     [nameText]="'ngxauthfirebaseui.nameText' | translate"
                     [nameErrorRequiredText]="'ngxauthfirebaseui.nameErrorRequiredText' | translate"
                     [nameErrorMinLengthText]="'ngxauthfirebaseui.nameErrorMinLengthText' | translate"
                     [nameErrorMaxLengthText]="'ngxauthfirebaseui.nameErrorMaxLengthText' | translate"
                     [emailText]="'ngxauthfirebaseui.emailText' | translate"
                     [emailErrorRequiredText]="'ngxauthfirebaseui.emailErrorRequiredText' | translate"
                     [emailErrorPatternText]="'ngxauthfirebaseui.emailErrorPatternText' | translate"
                     [passwordText]="'ngxauthfirebaseui.passwordText' | translate"
                     [passwordErrorRequiredText]="'ngxauthfirebaseui.passwordErrorRequiredText' | translate"
                     [registerTabText]="'ngxauthfirebaseui.registerTabText' | translate"
                     [registerCardTitleText]="'ngxauthfirebaseui.registerCardTitleText' | translate"
                     [registerButtonText]="'ngxauthfirebaseui.registerButtonText' | translate"
                     [guestButtonText]="'ngxauthfirebaseui.guestButtonText' | translate"
                     [resetPasswordTabText]="'ngxauthfirebaseui.resetPasswordTabText' | translate"
                     [resetPasswordInputText]="'ngxauthfirebaseui.resetPasswordInputText' | translate"
                     [resetPasswordErrorRequiredText]="'ngxauthfirebaseui.resetPasswordErrorRequiredText' | translate"
                     [resetPasswordErrorPatternText]="'ngxauthfirebaseui.resetPasswordErrorPatternText' | translate"
                     [resetPasswordActionButtonText]="'ngxauthfirebaseui.resetPasswordActionButtonText' | translate"
                     [resetPasswordInstructionsText]="'ngxauthfirebaseui.resetPasswordInstructionsText' | translate"
                     [emailConfirmationTitle]="'ngxauthfirebaseui.emailConfirmationTitle' | translate"
                     [emailConfirmationText]="'ngxauthfirebaseui.emailConfirmationText' | translate"
                     [guestEnabled]="false"
                     (onSuccess)="printUser($event)"
                     (onError)="printError($event)">
</ngx-auth-firebaseui>
<!--<div class="row">-->

<!--  <div class="col-xs-12">-->
<!--    <mat-tab-group mat-align-tabs="center">-->
<!--      <mat-tab [label]="'login.signInLabel' | translate">-->
<!--        <app-card style="max-width: 600px; margin: 1em auto;">-->

<!--          <div class="row">-->
<!--            <div class="col-xs-12">-->
<!--              <h1>{{ 'login.signInTitle' | translate }}</h1>-->

<!--            </div>-->
<!--          </div>-->
<!--          <form>-->

<!--            <div class="row">-->
<!--              <div class="col-xs-12">-->
<!--                <mat-form-field class="full-width">-->
<!--                  <mat-label>Email</mat-label>-->
<!--                  <input  matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"-->
<!--                         placeholder="Ex. pat@example.com">-->
<!--                </mat-form-field>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="row">-->
<!--              <div class="col-xs-12">-->
<!--                <mat-form-field class="full-width">-->
<!--                  <mat-label>{{ 'login.passwordLabel' | translate }}</mat-label>-->
<!--                  <input class="input-full-width" type="password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher"-->
<!--                         placeholder="Ex. pat@example.com">-->
<!--                </mat-form-field>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="row">-->
<!--              <div class="col-xs-6">-->
<!--                <button mat-button color="primary">{{ 'login.forgotPassword' | translate }}</button>-->
<!--              </div>-->
<!--              <div class="col-xs-6 end-xs">-->
<!--                <button mat-flat-button color="accent">{{ 'login.login' | translate }}</button>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="hr mts"></div>-->

<!--            <div class="row">-->
<!--              <div class="col-xs-6">-->

<!--              </div>-->
<!--            </div>-->
<!--          </form>-->
<!--        </app-card>-->

<!--      </mat-tab>-->
<!--      <mat-tab [label]="'login.signUpLabel' | translate">-->
<!--        <app-card class="mlm mrm">-->
<!--          <h1>{{ 'login.signUpTitle' | translate }}</h1>-->

<!--        </app-card>-->
<!--      </mat-tab>-->
<!--    </mat-tab-group>-->


<!--  </div>-->
<!--</div>-->
