<div class="hr"></div>
<div class="comment-container mlm">

  <div class="row">
    <div class="col-xs-12 mtm" *ngIf="authService.authState?.value?.state === 'in'">
      <app-add-comment></app-add-comment>
    </div>

    <div class="col-xs-12 mtm" *ngFor="let comment of comments$ | async">
      <app-comment [comment]="comment" (toggleReaction)="toggleReaction(comment.id, $event)"></app-comment>
    </div>
  </div>

  <div class="row center-xs mrm mts">
    <button class="btn-flat c-primary " *ngIf="canLoadMore" (click)="loadMore()">show more</button>
  </div>

</div>
