@import "~src/styles";

.chip-text {
  padding: 0 0.25em 0 0.5em;
}

.private {
  .chip-icon, .chip-text {
    color: $color-primary-dark;
  }
  &.mat-chip {
    background: $purple-800;
    .chip-icon, .chip-text {
      color: $color-snow;
    }
  }
}

.public {
  .chip-icon, .chip-text {
    color: $color-primary-dark;
  }
}
